.dorato {
  background-color: #DACEC4 !important;
}

.terra {
  background-color: #D9BF9F !important;
}

.grigioSfondo {
  background-color: #FCFBFB;
}

.biancoChiaro {
  background-color: #f9f5f1;
}

.rossoFoglia {
  background-color: #cba177ff;
}

.rossoGeraneo {
  background-color: #E76144;
}

.verdeChiaro {
  background-color: #D2DEB1;
}

.azzurroChiaro {
  background-color: #8FBACA !important;
}

.azzurroCielo {
  background-color: #9dd2fd !important;
}

.azzurroTiepoloScuro {
  background-color: #67989F !important;
}

.azzurroTiepoloUltraScuro {
  background-color: #38667e !important;
}

.biancoVero {
  background-color: white !important;
}

.rossastro {
  background-color: #b78469 !important;
}

.terraGradient {
  background: #D9BF9F;
  background: linear-gradient(46deg, #d9bf9f 25%, #e8bf8e 100%);
}

.rossastroGradient {
  background: #B78469;
  background: linear-gradient(46deg, #b78469 50%, #dbb586 100%);
}

.rossastroGradient label {
  background: none !important;
  color: white !important;
}

.rossastro input[type="text"] {
  color: white !important;
  font-weight: 500;
}

.rossastro input[type="text"]:hover {
  border-left: 1px solid #F0EDEE;
  border-top: 1px solid #F0EDEE;
}

.rossastro::placeholder {
  color: white;
  font-weight: 500;
}

.rossastro h3 {
  color: white;
}

.strisciaAggiunta:hover, .strisciaAggiunta:focus {
  transform: translate(2px, 2px);
  box-shadow: 0px 10px 20px -15px rgba(141, 141, 141, 0), 5px 5px 0px -3px rgba(0, 0, 0, 0.5);
}

.rossastroGradient .strisciaAggiunta {
  background-color: #b78469;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 20px -15px rgba(141, 141, 141, 0), 5px 5px 0px 0.2px rgba(0, 0, 0, 0.5);
  color: #F0EDEE;
}

.rossastro .bottone-aggiunta {
  background-color: #b78469;
  border-style: none;
  color: white;
}

.rossastroGradient .strisciaAggiunta:hover, .rossastro .strisciaAggiunta:focus {
  transform: translate(2px, 2px);
  box-shadow: 0px 10px 20px -15px rgba(141, 141, 141, 0), 5px 5px 0px -3px rgba(0, 0, 0, 0.5);
}

.rossastroGradient .strisciaAggiunta:hover .bottone-aggiunta, .rossastro .strisciaAggiunta:focus .bottone-aggiunta {
  background-color: #b78469;
}

.bianco {
  background-color: #F0EDEE !important;
}

.terraGradient .form-inputDue:hover, .form-inputDue:focus {
  background-color: #F0EDEE;
}

.nero {
  color: #555050;
}

.form {
  padding-top: 20%;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 15% !important;
  text-align: left;
}

.form-input {
  margin: 1%;
  width: 90%;
  height: fit-content;
  padding: 2%;
  padding-left: 5%;
  margin-bottom: 5%;
  border-style: none;
  border-bottom: 1px solid #F0EDEE;
  border-right: 1px solid #F0EDEE;
  background-color: white;
  font-size: 16px !important;
  color: gray;
  z-index: 1 !important;
  font-family: "Funnel Sans", sans-serif;
}

.rossastroGradient .form-input {
  color: #f8f5f6;
}

.form-input:hover {
  background-color: #F0EDEE;
}

.form-inputDue {
  padding: 15px 15px !important;
  margin: 0 auto !important;
  border-style: none;
  border-radius: 7px 7px 7px 7px;
  z-index: 4;
  margin-bottom: 15%;
  min-height: 40px !important;
  color: #8C4843;
  font-weight: 600;
  text-align: center;
  overflow: visible !important;
  font-size: 16px;
  z-index: 0;
  text-decoration: none;
  box-shadow: 0px 10px 20px -15px rgba(141, 141, 141, 0), 5px 5px 0px 0.2px rgba(0, 0, 0, 0.5);
}

.btnIniziale {
  margin: 0 auto;
  text-align: center;
  width: 30%;
}

.form-inputDue:hover, .form-inputDue:focus {
  transform: translateY(1.5px);
  transition: transform 0.2s ease-in-out;
  box-shadow: none;
}
