@import "colori";

//SEMOLICE RAPPRESENTAZIONE GRAFICA DI RIQUADRO CON ICONE
.icona {
    padding: 2%;
    background-color: $terraSienaChiara;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.icona:hover .binDue{
    transform: scale(1.1);
}

.icona:hover{
    background-color: $bianco;
}


//HTML deve essere collocato in immagine
.binDue{
    transition: all 0.3s ease-in-out;
}