@import "testi";
@import "colori";
@import "parallassi";
@import "foto";
@import "keyframes";
@import "inputForm";
@import "riquadri_icone";
@import "decorazioni";
@import "video";
@import "tabelle";
@import "soloPerGestione";




html, body{
    width: 100%;
    height: 100%;
    margin: 0%;
    perspective: 100px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 0;
    font-size: 12px !important;
    cursor: url("C:/xampp/htdocs/apprendimento/immagini/icone/fogliaSingola8.png") 4 4, auto;
}


#puntatore{
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1 !important;
}

#puntatore canvas {
      background-color: transparent !important;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 4 !important;
      pointer-events: none;
}

#sfondo-bianco{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-color: #f9f5f9;
    z-index: 0;
}

::-webkit-scrollbar {
width: 9px;
}

::-webkit-scrollbar-track{
    background: transparent !important;
}


::-webkit-scrollbar-thumb {
background: rgb(36, 36, 36);
cursor: none !important;

min-height: 3px;
}

.miniSpazio {
    min-height: 2vh;
}


.vuotoMeno0{
    margin-bottom: -5vh !important;
}


.vuoto00{
    min-height: 5vh !important;
}

.vuoto0{
    min-height: 10vh !important;
}

.vuoto{
    min-height: 15vh;
}

.vuoto1{
    padding-top: 2%;
    color: $grigioDettaglio;
    min-height: 3vh;
    font-size: 12px;
}

.vuoto3{
    width: 100%;
    min-height: 45vh;
    margin-top: -8%;
}

.vuoto4{
    min-height: 30vh;
}

.vuoto5 {
    min-height: 40vh;
}

.vuoto6 {
    min-height: 80vh;
}


.fotoSfondo{
    background-image: url(../immagini/ai-generated.png);
    background-repeat: no-repeat;
    background-position: center;
    filter: contrast(70%);
    margin: 0 auto;
    min-height: fit-content !important;
    margin-bottom:1.5%;

}

.sfondoSotto {
    background-image: url(../immagini/ai-generated.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast(70%);
    margin: 0 auto;
    min-height: 85vh;
    position: absolute !important;
    width: 100%;
    z-index: -1;
}

  .rimozMargini {
    @extend .fotoSfondo;
    }

.icona {
    margin-bottom: 10%;
    padding: 6%;
}

p{
    font-size: 12px !important;
}

.container-fluid{
    width:100% !important;
    margin:0% !important;
}

.intro{
   background-color: $bianco;
   height: 70vh !important;
   min-height: fit-content;
   text-align: center;
   margin-bottom: 10%;
   padding-bottom: 5%;
   position: relative;
   z-index: 4 !important;
}





/*
.contParallasse{
    position: relative;
    height: 100vh !important;
    transform-style: preserve-3d;
    overflow: hidden;
    perspective: 1000px;
}

.parallasse {
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    min-height: 10vh !important;
    top: 0%;
    transform-style: preserve-3d;
    transform: translateZ(-200px) scale(1.25) !important;
}

.fronte {
    transform: translateZ(0);
    top:0;
    left: 0%;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 2;
    background: transparent;
}


.parallax-container{
    width: 100%;
    height: 100%;
    background: #5feeae;
    top:-45%;
    padding-top: 60px;

}

.container{
    position: relative;
    z-index: 3;
} */




.sottotitolo{
    padding-top: 3% !important;
    padding-bottom: 7%;
    z-index: 1;
    position: relative;
}

.sottotitolo3{
    padding-top: 25% !important;
    padding-bottom: 15%;
    z-index: 1;
    position: relative;
}




.comparsa1 {
    animation: compareDalBassoVeloce 11s ease;
}

.parteSeconda h2{
   background-color: $rosaBrillante;
   color: white !important;    
   padding-top: 5%;
   padding-bottom: 5%;
   margin-left: -1%;
}

.fotoContenitore{
    position: relative;
    left: 7.5%;
    right: 7.5%;
    top: -90%;
    border-style:none;
    width: 80%;
}

.spazioRiempitivo {
    width: 100%;
    position: relative;
    background-color: red;
}
.spazioDescrittivo{
    position: relative;
    width: 100%;
    height: 25%;
    top: 0%;
    bottom: 0;
    background-color: white;
    margin: 0% !important;
    z-index: -1 !important;
    animation: compareDalBassoBV1 3s ease 2s;
    transform: translateY(-140px);
    box-shadow: -1px -6px 5px -6px rgba(41, 42, 43, 0.4);
    -webkit-box-shadow: -1px -6px 5px -6px rgba(29, 30, 31, 0.4);
    -moz-box-shadow: -1px -6px 5px -6px rgba(33, 33, 34, 0.4);
}

 .decorazioneSotto {
    width: 100%;
    position: absolute;
    left: -10%;
    top:90px;
    z-index: 0;
    pointer-events: none;
    filter: brightness(300%);
}

.decorazioneSotto img{
    width: 30%;
}

.cornice {
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: -1%;
}

.normale{
    padding: 10%;
    width: 100%;
    height: 10vh;
    transform: none;
    transform-style: flat;
    perspective: none;
    position: relative;
}

.contenitoreBuste{
    padding-top: 5%;
}

.fuocoArtificio{
    position: absolute;
    z-index: -1;
    top: 15%;
    width:20%;
    filter: sepia(80);
    transform: rotate(15deg);
}

.busta{
    position: relative;
    height:33vh;
    z-index: 0;
    min-height: fit-content;
    background-color: white;
    border-bottom: 4px dashed $doratoscuro;
}

.fioreSinistra {
    position: absolute;
    bottom: -20%;
    left: -50%;
    z-index: 4;
    pointer-events: none;

}

.corniceDestra {
    position: absolute;
    bottom:-65%;
    left: 0%;
    transform: rotate(90deg);
    pointer-events: none;
}

.corniceDestra img{
    width: 9.2%;
}

.perline {
    position: absolute;
    bottom:20%;
    left: 0%;
    pointer-events: none;
}

.perline img{
    width:100%;
}

.pizzoBase{
    position: absolute;
    bottom: 0%;
    left: 0%;
    z-index: 0;
}

.pizzoBase img{
    width: 100%;
}

.foglie_Cuore{
    position: absolute;
    top: 0%;
    left: -60%;
    z-index: 4;
    pointer-events: none;
}
.foglie_Cuore img{
    width: 28%;
}


.riquadriColori{
    display: flex;
    justify-content: space-around;
}

.infoColori{
    width: 30%;
    border: 5px double $provaGrigio;
    height: 15vh;
    border-radius: 25px;
    position: relative;
}

.colori{
    width: 100%;
    height: 70vh;
    margin-top: 5%;
    position: relative;
    visibility: hidden;
}

.bolla{
    position: absolute;
    background-color: white;
    border-radius: 25px;
    animation: animazioneBolle 0.5s ease;
}

@keyframes animazioneBolle {
    0%{
        transform: translateY(5vh) scale(1);
        opacity: 1;
    }
   
    70%{
        opacity: 0;
    }
    100%{
        transform: translateY(-10vh) scale(3);
        opacity: 0;
    }
}



.giu{
        margin-top: 20% !important;
    }


.lineaIcone{
    padding-bottom: 5%;
}

.num{
    background-color: white !important;
}

.striscia{
    position: absolute;
    top: 0%;
    background-color: $dorato;
    height: 5vh;
    z-index: 1;
    width: 100%;
}



.strisciaAggiunta{
    box-shadow: 0px 10px 20px -15px white, 5px 5px 0px 0.2px white;
    border-radius: 7px 7px 7px 7px;
    font-weight: 400 !important;
    color: white;
    background-color: $cardovano;
    position: relative;
    height: fit-content;
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 15%;
    width: 100%;
    left: 0%;
    border-style: none;
}

.strisciaAggiunta:hover {
  box-shadow: none;
}


.nocolor{
    border: 1px solid $bianco;
    width: 100%;
    background: none;
}

.chiusura{
    height: 15vh;
    position: absolute;
    top: 0%;
    z-index: 1 !important;
    width: 100%;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.contForm {
    margin-left: 15%;
        margin-right: 15%;

        margin-bottom: 5%;

}

.col-12.col-md-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.descrizione{
    position: absolute !important;
    width: 30%;
    min-height: 20vh;
    background: aliceblue;
    opacity: 0.95;
    box-shadow: 0px 10px 20px -15px rgba(141, 141, 141, 0), 5px 5px 0px 0.2px rgba(43, 43, 60, 0.8);
    z-index: 2 !important;
    font-weight: 500;
    top: 65%;
    left: 70%;
    color: $nero;
    word-wrap: normal;
    padding: 3% !important;
    padding-top: 7%;
    padding-bottom: 7%;
    display: none;
}

.lente img{
    transition: all 0.3s ease-in-out;
}
.lente:hover img {
    transform: scale(1.2);
}


.bottone-aggiunta{
    padding-left: 2%;
    padding-right: 2%;
    border-style: none;
    background: none;   

    
    #piu {
        font-weight: bolder;
        font-size: 23px;
        color: white;
    }
}



.bottone{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2%;
    width: 76%;
    margin-left: 12%;
    margin-right: 11%;
    margin-top:5%;


}

.lunghezza2 {
    width: 150% !important;
    margin-left: -25%;
    text-align: center;
}


.bloccoEsterno{
    width: 25%;
    border: 3px solid $dorato;
    border-radius: 25px;
    margin-top: 4%;
    padding: 0.5%;
    position: relative;
}

.caricamento{
    width: 10%;
    background-color: $doratoscuro;
    border-radius: 25px;
    animation: caricamento 5s ease-in;
}

.cuore{
    position: absolute;
    top: 18%;
    z-index: 2;
    margin-left: 33%;
    animation: battito 3s ease-out;
    transform-origin:30% 50%;
}
.cuore img {
    width: 70%;
}

.areaIntroduttiva{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    color:wheat;
    z-index: 2;
    background-color: white;
    visibility: hidden;
    animation: scompare 5s ease-in-out;
}

.headerFoto {
    width: 100%;
    height: 100%;
    color:wheat;
    position: relative;
//background: #4778a1;
//background: linear-gradient(0deg, rgba(71, 120, 161, 1) 4%, rgba(96, 164, 219, 0.6) 25%, rgba(147, 165, 162, 0) 100%);
}

.header{
    width: 100%; 
    position: relative;
    margin-bottom: 5% !important;
    animation: spazioOccupato;
}

.spazioOccupato{
    width: 100%; 
    height: 70vh; 
    margin:0% !important;
    animation: riduzioneSpazio 10s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes riduzioneSpazio {
    0%{
        transform: translateY(95px) scale(1.5);
    }
    90%{
        transform: translateY(95px) scale(1.5);
    }
    100%{
        transform: translateY(0px) scale(1);
    }
}


.spazioBianco{
    height: 100%;
    background-color: white;
    margin-top: 5%;
    z-index: 6 !important;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    margin-top: 0%;
    visibility: hidden;
}

.cerchio {
    background-color: white;
    background-color: $azzurroTiepoloChiaro;
    margin: 0 auto;
    margin-bottom: 10%;
    padding: 20%;
    margin-left: 20%;
    margin-right: 20%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    //object-fit: cover;
    //object-position: center !important;
}

.cerchio img{
    width: 100%;
}

.infoUno {
        margin: 0 auto;
        align-items: center;
}




//footer

//FOOTER, PARTE FINALE
.footer{
    position: relative;
    display: block;
    bottom: 0%;
    padding: 4%;
    width: 100% !important;
    padding-bottom: 2% !important;
    background-color: $biancoGrigio;
}


.cookiesspace{
    background-color: $nero;
    color: white;
    padding: 2%;
    margin-top: 5%;
    min-height: 20%;
    display: none;
    transition: linear 0.5 ease;
}


.cookieTip:hover ~ .cookiesspace{
    display: block;
}

 .posizioneFiori2{
    margin-top: 0%;
}

.fioriInInfo {
    position: absolute !important;
}

.fioriInInfo img {
    width: 100% !important;
}

#fioriInfo1 {
    left:-50%;
    top:-10%;
}

#fioriInfo1 img {
    width: 40% !important;
}

#fioriInfo2 {
    left:70%;
    top:50%;
}

#fioriInfo2 img {
    width: 160% !important;
}

#fioriInfo3 {
    left:-50%;
    top:-10%;
}

#fioriInfo3 img {
    width: 40% !important;
}

#fioriInfo4 {
    left:60%;
    top:60%;
}

#fioriInfo4 img {
    width: 120% !important;
}



@media screen and (max-width: 576px) { 
//titoli
    .titolo{
        font-size: 42px;
        padding-top: 70% !important;
    
    }
    .sottotitolo{
        font-size: 30px;
    }
        .paragrafoInfo{
        line-height: 2.1;
    }
    .infoSecondarie{
        line-height: 2.1;
    }

    .spazioDescrittivo{
            transform: translateY(-110px);
    }

//base
    ::-webkit-scrollbar {
        display: none;
    }

    .areaIntroduttiva {
        height: 117%;
    } 
    .busta{
        height: 23vh;
        width: 70%;
        margin-left: 15%;
    }
    
    .cuore {
        margin-left: 25%;
    }


//zone iniziali

.fuocoArtificio{
    top:20%;
    width:30%;
}

.fotoContenitore {
    top: -60%;
    border-style: none;
    left: -10%;
    width: 110%;
}

.fotoContenitore img {
    width: 60% !important;
}

.infoPrincipali{
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}

.bottone{
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;

}


.posizioneFiori2{
    left: -20%;
    transform: translateY(140px) !important;
    width: 110% !important;
    z-index: 1;

}

.posizioneFiori2 img{
    width: 120% !important;
}


//vuoti

.miniSpazio {
    min-height: 3vh;
}

.vuoto0{
    min-height: 90vh;
}

.vuoto{
    min-height: 20vh;
}

.vuoto3 {
    min-height: 35vh;
}


.vuoto4{
    min-height: 110vh;
}



//contenuto form
    
.contForm {
    width: 100%;
    margin-left: 0%;
}

.btnIniziale {
    width: 70%;
    margin: 0 auto;
}

.form-inputDue {
    padding: 15px 20px 5px 20px !important;
    padding-bottom: 0% !important;
    align-items: center;
}

.sottotitolo3 {
    z-index: 0 !important;
    margin-top: 25% !important;    
}

.headerEstPartecipa{
    margin-top: 170%;
    z-index: 2 !important;
}

.intro {
    margin-top: 5% !important;
    padding-top: 0% !important;
    padding-bottom: 20%;
}



.strisciaAggiunta{
    width: 90%;
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom:15%;
}

.foto {
    height: 60vh !important;
    margin-bottom: 10%;
    margin-top: 10%;
}

.giu{
    margin-top: 10%;
}

.fioriDevice img {
    width: 100%;
}

#fDevice1 {
    left: 0% !important;
}

#fDevice2 {
    left: 60% !important;
    top: -20%;
}

.descrizione{
    position: static;
    display: block !important;
    height: 20vh !important;
    min-height: 18vh !important;
    font-size: 14px;
    top: auto;
    left: auto;
    padding: 5%;
    width: 50%;
    word-wrap: normal;
    margin-left: 50%;
    margin-top: 120% !important;
}   

.cit {
    padding-bottom: 0% !important;
    display: block;
    
}

.fotoSfondo{
    margin-top: 20%;
    padding-bottom: 25%;
}


//area delle informazioni
.infoUno {
    margin-top: 10%;
    margin-bottom: 40%;

}

.fioriInInfo img{
    width: 80%;

}

#fioriInfo1 {
    left:-55%;
    top:-20%;
}

#fioriInfo1 img {
    width: 40% !important;
}


#fioriInfo3 {
    left:-60%;
    top:-10%;
}

#fioriInfo3 img {
    width: 40% !important;
}

#fioriInfo4 {
    left: 50%;
}

.cookiesspace {
    padding: 3%;
    margin: 15%;
}


.rimozMargini {
    margin-top: 0% !important;
    padding-top: 0% !important;
    min-height: 40vh !important;
}

.sottotitolo4 {
    padding-top: 20%;
}


h2{
   font-size:28px !important;
}

.lunghezza2 {
    width: 150% !important;
    margin-left: -25%;
}


}


@media screen and (min-width:577px) and (max-width: 767px) {
//titoli
    .titolo{
        font-size: 42px;
        padding-top: 40% !important;
    
    }
    .sottotitolo{
        font-size: 38px;
    }

    .sottotitolo2 {
            font-size: 26px;
    }
     .sottotitolo4 {
                    font-size: 21px;
    }

    .sottotitolo5 {
            font-size: 26px;
    }

        .paragrafoInfo{
        line-height: 2.1;
    }
    .infoSecondarie{
        line-height: 2.1;
    }

    .spazioDescrittivo{
            transform: translateY(-120px);
    }

//base
    ::-webkit-scrollbar {
        display: none;
    }

    .areaIntroduttiva {
        height: 117%;
    } 
    .busta{
        height: 23vh;
        width: 40%;
        margin-left: 30%;
    }

     .cuore {
        margin-left: 25%;
    }


//zone iniziali

.fuocoArtificio{
    top:20%;
    width:30%;
}

.fotoContenitore {
    top: -70%;
    border-style: none;
    left: -10%;
    width: 120%;
}

.Contenitore img {
    width: 60% !important;
}

.infoPrincipali{
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}

.bottone{
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;

}


.posizioneFiori2{
    left: -20%;
    transform: translateY(80px) !important;
    width: 110% !important;
    z-index: 1;

}

.posizioneFiori2 img{
    width: 120% !important;
}


//vuoti

.miniSpazio {
    min-height: 3vh;
}

.vuoto0{
    min-height: 90vh;
}

.vuoto{
    min-height: 20vh;
}

.vuoto3 {
    min-height: 35vh;
}


.vuoto4{
    min-height: 110vh;
}



//contenuto form
    
.contForm {
    width: 100%;
    margin-left: 0%;
}

.btnIniziale {
    width: 70%;
    margin: 0 auto;
}

.form-inputDue {
    padding: 15px 20px 5px 20px !important;
    align-items: center;
}

.sottotitolo3 {
    z-index: 0 !important;
    margin-top: 25% !important;    
}

.headerEstPartecipa{
    margin-top: 120%;
    z-index: 2 !important;
}

.intro {
    margin-top: 5% !important;
    padding-top: 0% !important;
    padding-bottom: 20%;
}

.strisciaAggiunta{
    width: 90%;
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom:15%;
}
.boxImg {
    width:50% !important;
    left: 10%;
}
.foto {
    height: 60vh !important;
    margin-bottom: 10%;
    margin-top: 10%;
}

.giu{
    margin-top: 10%;
}

.fioriDevice img {
    width: 100%;
}

#fDevice1 {
    left: 0% !important;
}

#fDevice2 {
    left: 60% !important;
    top: -20%;
}

.descrizione{
    position: static;
    display: block !important;
    height: 15vh !important;
    min-height: 13vh !important;
    font-size: 14px;
    top: auto;
    left: auto;
    padding: 5%;
    width: 50%;
    word-wrap: normal;
    margin-left: 50%;
    margin-top: 90% !important;
}   

.cit {
    padding-bottom: 0% !important;
    display: block;
    
}

.fotoSfondo{
    margin-top: 20%;
    padding-bottom: 25%;
}


//area delle informazioni
.infoUno {
    margin-top: 10%;
    margin-bottom: 40%;

}

.fioriInInfo img{
    width: 80%;

}

#fioriInfo1 {
    left:-35%;
    top:-5%;
}

#fioriInfo1 img {
    width: 60% !important;
}


#fioriInfo3 {
    left:-35%;
    top:-5%;
}

#fioriInfo3 img {
    width: 60% !important;
}

#fioriInfo4 {
    left: 50%;
}

.cookiesspace {
    padding: 3%;
    margin: 15%;
}

.rimozMargini {
    margin-top: 0% !important;
    padding-top: 0% !important;
    min-height: 50vh !important;
}

.sottotitolo4 {
    padding-top: 10%;
}

h2{
   font-size: 34px !important;
}

.lunghezza2 {
    width: 150% !important;
    margin-left: -25%;
}



}



@media screen  and (min-width:768px) and  (max-width: 992px) {
    .titolo{
        font-size: 42px; 
        padding-top: 40% !important;
    }
    .sottotitolo{
        font-size: 34px;
        padding-top: 4%;
    }
    .sottotitolo2 {
            font-size: 26px;
    }

    .sottotitolo4 {
                    font-size: 21px;

            }

    .sottotitolo5 {
            font-size: 26px;
    }


    .paragrafoInfo{
        line-height: 2.3;
    }
    .infoSecondarie{
        line-height: 2.3;
    }

    .spazioDescrittivo{
            transform: translateY(-170px);
    }
    //base
    ::-webkit-scrollbar {
        display: none;
    }

    .areaIntroduttiva {
        height: 117%;
    } 
    .busta {
        height: 20vh;
        width: 50%;
        margin-left: 25%;
    }

    .cuore {
        margin-left: 28%;
    }


//zone iniziali

.fuocoArtificio{
    top:20%;
    width:30%;
}

.fuocoArtificio img {
    width:20%;
}

.fotoContenitore {
    top: -90%;
    border-style: none;
    left: -10%;
    width: 110%;
}

.fotoContenitore img {
    width: 60% !important;
}

.infoPrincipali{
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}

.bottone{
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;

}


.posizioneFiori2{
    left: -20%;
    transform: translateY(140px) !important;
    width: 110% !important;
    z-index: 1;

}

.posizioneFiori2 img{
    width: 120% !important;
}


.descrizione {
    min-height: 13vh;
}

//vuoti

.miniSpazio {
    min-height: 3vh;
}

.vuoto0{
    min-height: 90vh;
}

.vuoto{
    min-height: 20vh;
}

.vuoto3 {
    min-height: 35vh;
}

.vuoto4 {
    min-height: 5vh;
}




//contenuto form
    
.contForm {
    width: 90%;
    margin-left: 5%;
}

.btnIniziale {
    width: 70%;
    margin: 0 auto;
}

.form-inputDue {
        padding: 15px 20px 5px 20px !important;
    align-items: center;
}

.sottotitolo3 {
    z-index: 0 !important;
    margin-top: 25% !important;    
}

.headerEstPartecipa{
    transform: translateZ(-20px) scale(1.6) !important;
    margin-top: 15%;
    z-index: 2 !important;
}

.promemoria {
    min-height: 60vh !important;
}

.intro {
    margin-top: 0% !important;
    padding-top: 5% !important;
    padding-bottom: 20%;
}

.strisciaAggiunta{
    width: 60%;
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom:15%;
}

.foto {
    height: 20vh !important;
    margin-bottom: 10%;
    margin-top: 5%;
}

.giu{
    margin-bottom: 30%;
}

.fioriDevice img {
    width: 50%;
}

#fDevice1 {
    left: 6% !important;
    top: 10% !important;

}

#fDevice2 {
    left: 75% !important;
    top: -30% !important;
}

.pizzoBase {
    width: 100%;
}


.fotoSfondo{
    width: 90%;
    margin-top: 10%;
    padding-bottom: 10%;
    min-height: fit-content !important;
}


//area delle informazioni
.infoUno {
    margin-top: 10%;
    margin-bottom: 40%;

}

.fioriInInfo img{
    width: 80%;

}

#fioriInfo1 {
    left:-65%;
    top:-10%;
}

#fioriInfo1 img {
    width: 40% !important;
}


#fioriInfo3 {
    left:-65%;
    top:-15%;
}

#fioriInfo3 img {
    width: 40% !important;
}

#fioriInfo4 {
    left: 50%;
}

.rimozMargini {
    margin-top: -10% !important;
    padding-top: 0% !important;
    min-height: 50vh !important;
}

.sottotitolo4 {
    padding-top: 10%;
}

h2{
   font-size: 34px !important;
}

.lunghezza2 {
    width: 100% !important;
}



}




@media screen and (min-width:993px) and (max-width: 1200px) {

    .titolo{
        font-size: 42px; 
        padding-top: 15% !important;
    }
    .sottotitolo{
        font-size: 34px;
        padding-top: 4%;
    }

    .sottotitolo2 {
            font-size: 26px;
    }
    
    .sottotitolo4 {
            font-size: 21px;
    }

    .sottotitolo5 {
            font-size: 26px;
    }

    .paragrafoInfo{
        line-height: 2.3;
    }
    .infoSecondarie{
        line-height: 2.3;
    }

    .spazioDescrittivo{
            transform: translateY(-150px);
                height: 30%;

    }
    //base
    ::-webkit-scrollbar {
        display: none;
    }

    .areaIntroduttiva {
        height: 117%;
    } 
    .busta {
        height: 20vh;
        width: 30%;
        margin-left: 35%;
    }

    .cuore {
        margin-left: 25%;
    }
    .chiusura {
       height: 10vh; 
    }


//zone iniziali

.fuocoArtificio{
    top:20%;
    width:30%;
}

.fuocoArtificio img {
    width:20%;
}

.fotoContenitore {
    top: -90%;
    border-style: none;
    left: -10%;
    width: 110%;
}

.fotoContenitore img {
    width: 40% !important;
}

.infoPrincipali{
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}

.bottone{
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;

}


.posizioneFiori2{
    left: -20%;
    transform: translateY(100px) !important;
    width: 90% !important;
    z-index: 1;

}

.posizioneFiori2 img{
    width: 120% !important;
}


.descrizione {
    min-height: 13vh;
}

//vuoti

.miniSpazio {
    min-height: 3vh;
}
.vuoto00{
    min-height: 5vh;
}
.vuoto0{
    min-height: 90vh;
}

.vuoto{
    min-height: 20vh;
}

.vuoto3 {
    min-height: 35vh;
}

.vuoto4 {
    min-height: 5vh;
}




//contenuto form
    
.contForm {
    width: 90%;
    margin-left: 5%;
}

.btnIniziale {
    width: 70%;
    margin: 0 auto;
}

.form-inputDue {
     padding: 15px 20px 5px 20px !important;

    align-items: center;
}

.sottotitolo3 {
    z-index: 0 !important;
    margin-top: 25% !important;    
}

.headerEstPartecipa{
    transform: translateZ(-20px) scale(1.6) !important;
    margin-top: 15%;
    z-index: 2 !important;
}

.promemoria {
    min-height: 60vh !important;
}

.intro {
    margin-top: 0% !important;
    padding-top: 5% !important;
    padding-bottom: 5%;
}

.strisciaAggiunta{
    width: 100%;
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom:15%;
}

.foto {
    height: 50vh !important;
    margin-bottom: 10%;
    margin-top: 5%;
}

.giu{
    margin-bottom: 30%;
}

.fioriDevice img {
    width: 30%;
}

#fDevice1 {
    left: 6% !important;
    top: 10% !important;

}

#fDevice2 {
    left: 75% !important;
    top: -30% !important;
}

.pizzoBase {
    width: 100%;
}


.fotoSfondo{
    width: 65%;
    margin-top: 10%;
    padding-bottom: 10%;
    min-height: fit-content !important;
}


//area delle informazioni
.infoUno {
    margin-top: 10%;
    margin-bottom: 40%;

}

.fioriInInfo img{
    width: 80%;

}

#fioriInfo1 {
    left:-65%;
    top:-10%;
}

#fioriInfo1 img {
    width: 40% !important;
}


#fioriInfo3 {
    left:-65%;
    top:-15%;
}

#fioriInfo3 img {
    width: 40% !important;
}

#fioriInfo4 {
    left: 50%;
}

.rimozMargini {
    margin-top: -10% !important;
    padding-top: 0% !important;
    min-height: 50vh !important;
}

.sottotitolo4 {
    padding-top: 13%;
}

h2{
   font-size: 34px !important;
}

.lunghezza2 {
    width: 100% !important;
    margin-left: 0% !important;
}

}




@media screen and (min-width:1201px) and (max-width:1350px) {


    
        .titolo{
            font-size: 42px; 
            padding-top: 25% !important;
        }
        .sottotitolo{
            font-size: 34px;
            padding-top: 4%;
        }

        .sottotitolo2 {
                font-size: 26px;
        }

        .sottotitolo3 {
        z-index: 0 !important;
        margin-top: 25% !important;    
        }

        .sottotitolo4 {
                font-size: 21px;

        }

        .sottotitolo5 {
                font-size: 26px;
        }


        .paragrafoInfo{
            line-height: 2.3;
        }
        .infoSecondarie{
            line-height: 2.3;
        }

        .spazioDescrittivo{
                transform: translateY(-200px);
        }
        //base
        ::-webkit-scrollbar {
            display: none;
        }

        .areaIntroduttiva {
            height: 117%;
        } 
        .busta {
            height: 20vh;
            width: 100%;
            margin-left: 0%;
        }

        .cuore {
            margin-left: 25%;
        }
        .chiusura {
        height: 10vh; 
        }


    //zone iniziali

    .fuocoArtificio{
        top:20%;
        width:30%;
    }

    .fuocoArtificio img {
        width:20%;
    }

    .fotoContenitore {
        top: -120%;
        border-style: none;
        left: 0%;
        width: 90%;
    }

    .fotoContenitore img {
        width: 60% !important;
    }

    .infoPrincipali{
        margin-left: 2%;
        margin-right: 2%;
        width: 96%;
    }

    .bottone{
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;

    }


    .posizioneFiori2{
        left: 25%;
        transform: translateY(80px) !important;
        width: 60% !important;
        z-index: 1;

    }

    .posizioneFiori2 img{
        width: 120% !important;
    }


    .descrizione {
        min-height: 13vh;
    }

    //vuoti

    .miniSpazio {
        min-height: 3vh;
    }

    .vuoto0{
        min-height: 90vh;
    }

    .vuoto{
        min-height: 20vh;
    }

    .vuoto3 {
        min-height: 45vh;
    }

    .vuoto4 {
        min-height: 5vh;
    }




    //contenuto form
        
    .contForm {
        width: 90%;
        margin-left: 5%;
    }

    .btnIniziale {
        width: 70%;
        margin: 0 auto;
    }

    .form-inputDue {
            padding: 15px 20px 5px 20px !important;

        align-items: center;
    }

   
    .headerEstPartecipa{
        transform: translateZ(-20px) scale(1.6) !important;
        margin-top: 15%;
        z-index: 2 !important;
    }

    .promemoria {
        min-height: 60vh !important;
    }

    .intro {
        margin-top: 0% !important;
        padding-top: 5% !important;
        padding-bottom: 20%;
    }

    .strisciaAggiunta{
        width: 100%;
        margin: 0 auto;
        margin-top: 15%;
        margin-bottom:15%;
    }

    .foto {
        height: 20vh !important;
        margin-bottom: 10%;
        margin-top: 5%;
    }

    .giu{
        margin-bottom: 30%;
    }

    .fioriDevice img {
        width: 50%;
    }

    #fDevice1 {
        left: 6% !important;
        top: 10% !important;

    }

    #fDevice2 {
        left: 75% !important;
        top: -30% !important;
    }

    .pizzoBase {
        width: 100%;
    }


    .fotoSfondo{
        width: 65%;
        margin-top: 10%;
        padding-bottom: 10%;
        min-height: fit-content !important;
    }


    //area delle informazioni
    .infoUno {
        margin-top: 10%;
        margin-bottom: 40%;

    }

    .fioriInInfo img{
        width: 80%;

    }

    #fioriInfo1 {
        left:-65%;
        top:-10%;
    }

    #fioriInfo1 img {
        width: 40% !important;
    }


    #fioriInfo3 {
        left:-65%;
        top:-15%;
    }

    #fioriInfo3 img {
        width: 40% !important;
    }

    #fioriInfo4 {
        left: 50%;
    }

    .rimozMargini {
    min-height: 100vh !important;
    }

    .lunghezza2 {
    margin-top: 15%;
    width: 100% !important;
    margin-left: 0% !important;
    }

}