@charset "UTF-8";
/*
                        <div class="tabella">
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th scope="col">N.</th>
                                      <th scope="col">Nome_e_cognome</th>
                                      <th scope="col">Partecipazione</th>
                                      <th scope="col">Azione</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td scope="row" class="num">1</td>
                                      <td>Maria Rossi</td>
                                      <td>Sì</td>
                                      <td  class="lente">
                                        <img width="25" height="25" src="https://img.icons8.com/wired/64/view-file.png" alt="view-file"/>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td scope="row" class="num">2</td>
                                      <td>Federica Bianchi</td>
                                      <td>No</td>
                                      <td  class="lente">
                                        <img width="25" height="25" src="https://img.icons8.com/wired/64/view-file.png" alt="view-file"/>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td scope="row" class="num">3</td>
                                      <td>Vera Verde</td>
                                      <td>Sì</td>
                                      <td class="lente">
                                        <img width="25" height="25" src="https://img.icons8.com/wired/64/view-file.png" alt="view-file"/>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>  
            */
.dorato {
  background-color: #DACEC4 !important;
}

.terra {
  background-color: #D9BF9F !important;
}

.grigioSfondo {
  background-color: #FCFBFB;
}

.biancoChiaro {
  background-color: #f9f5f1;
}

.rossoFoglia {
  background-color: #cba177ff;
}

.rossoGeraneo {
  background-color: #E76144;
}

.verdeChiaro {
  background-color: #D2DEB1;
}

.azzurroChiaro {
  background-color: #8FBACA !important;
}

.azzurroCielo {
  background-color: #9dd2fd !important;
}

.azzurroTiepoloScuro {
  background-color: #67989F !important;
}

.azzurroTiepoloUltraScuro {
  background-color: #38667e !important;
}

.biancoVero {
  background-color: white !important;
}

.rossastro {
  background-color: #b78469 !important;
}

.terraGradient {
  background: #D9BF9F;
  background: linear-gradient(46deg, #d9bf9f 25%, #e8bf8e 100%);
}

.rossastroGradient {
  background: #B78469;
  background: linear-gradient(46deg, #b78469 50%, #dbb586 100%);
}

.rossastroGradient label {
  background: none !important;
  color: white !important;
}

.rossastro input[type="text"] {
  color: white !important;
  font-weight: 500;
}

.rossastro input[type="text"]:hover {
  border-left: 1px solid #F0EDEE;
  border-top: 1px solid #F0EDEE;
}

.rossastro::placeholder {
  color: white;
  font-weight: 500;
}

.rossastro h3 {
  color: white;
}

.strisciaAggiunta:hover, .strisciaAggiunta:focus {
  transform: translate(2px, 2px);
  box-shadow: 0px 10px 20px -15px rgba(141, 141, 141, 0), 5px 5px 0px -3px rgba(0, 0, 0, 0.5);
}

.rossastroGradient .strisciaAggiunta {
  background-color: #b78469;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 20px -15px rgba(141, 141, 141, 0), 5px 5px 0px 0.2px rgba(0, 0, 0, 0.5);
  color: #F0EDEE;
}

.rossastro .bottone-aggiunta {
  background-color: #b78469;
  border-style: none;
  color: white;
}

.rossastroGradient .strisciaAggiunta:hover, .rossastro .strisciaAggiunta:focus {
  transform: translate(2px, 2px);
  box-shadow: 0px 10px 20px -15px rgba(141, 141, 141, 0), 5px 5px 0px -3px rgba(0, 0, 0, 0.5);
}

.rossastroGradient .strisciaAggiunta:hover .bottone-aggiunta, .rossastro .strisciaAggiunta:focus .bottone-aggiunta {
  background-color: #b78469;
}

.bianco {
  background-color: #F0EDEE !important;
}

.terraGradient .form-inputDue:hover, .form-inputDue:focus {
  background-color: #F0EDEE;
}

.nero {
  color: #555050;
}

h1 {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-size: 48px;
  color: white;
}

h2 {
  text-align: center;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  color: #8C4843;
  font-size: 32px !important;
}

h3 {
  font-size: 18px;
  margin-bottom: 10%;
}

label {
  text-align: left !important;
  font-size: 18px;
  color: #535252;
  background-color: white;
  padding-top: 3%;
  padding-left: 5%;
  margin-bottom: 3%;
  font-family: "Ruwudu", serif;
}

#rilevanzaBassa {
  font-size: 20px;
  line-height: 1;
  margin-left: 1%;
  vertical-align: center;
  font-family: "Ruwudu", serif;
}

.sottotitolo {
  font-size: 48px;
  color: white;
  position: relative;
  animation: compareDalBasso 2s ease;
}

.titolo {
  text-align: center;
  font-size: 60px;
  color: white;
  position: relative;
  padding-top: 16%;
  font-family: "EB Garamond", serif !important;
  font-weight: 600;
  animation: compareDalBasso 1s ease;
}

.sottotitolo2 {
  font-size: 14px;
  color: #f8f5f6;
  z-index: 4 !important;
  text-align: center;
  width: 100%;
  font-family: "Ruwudu", serif;
  text-decoration: underline;
  font-size: 19px;
}

.sottotitolo5 {
  font-size: 14px;
  color: #f8f5f6;
  z-index: 4 !important;
  text-align: center;
  width: 100%;
  font-family: "Ruwudu", serif;
  text-decoration: none;
  font-size: 17px;
}

.sottotitolo4 {
  font-size: 14px;
  color: #f8f5f6;
  z-index: 4 !important;
  text-align: center;
  width: 100%;
  font-family: "Ruwudu", serif;
  text-decoration: none;
  font-size: 24px;
  color: #8C4843;
  position: relative;
  padding-top: 20%;
}

.cit {
  display: none;
  font-size: 16px !important;
  font-family: "Croissant One", serif;
  font-weight: 400;
  line-height: 1.15;
  font-style: normal;
}

.infoPrincipali {
  display: flex;
  justify-content: center;
  padding-top: 4%;
  font-weight: 500;
  font-size: 18px;
  color: #7b7b7b;
  text-align: center;
  font-family: "Ruwudu", serif;
}

.infoSecondarie {
  font-weight: 400;
  font-size: 18px;
  color: #555050;
  text-align: center;
  font-family: "Ruwudu", serif;
}

.sottotitolo2:hover {
  text-decoration: none;
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
  border: 1px solid #F0EDEE;
  font-size: 19px;
  box-sizing: border-box;
}

.sottotitolo2:focus, .sottotitolo2:active {
  background-color: #3e5379;
}

.paragrafoInfo {
  font-weight: 400;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 18px !important;
  color: #555050;
  font-family: "Ruwudu", serif;
  line-height: 2;
}

a.linkPosizione {
  text-decoration: underline;
  color: #67989F;
}

a.linkNC {
  text-decoration: none;
  color: #f8f5f6;
  text-align: right !important;
}

.posNC {
  position: relative;
  width: 100%;
}

a.linkPosizione:hover {
  color: #7b7b7b;
  text-decoration: underline;
  border-style: none;
}

a.linkSede {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 1% !important;
  background-color: #8FBACA;
}

.dorato {
  background-color: #DACEC4 !important;
}

.terra {
  background-color: #D9BF9F !important;
}

.grigioSfondo {
  background-color: #FCFBFB;
}

.biancoChiaro {
  background-color: #f9f5f1;
}

.rossoFoglia {
  background-color: #cba177ff;
}

.rossoGeraneo {
  background-color: #E76144;
}

.verdeChiaro {
  background-color: #D2DEB1;
}

.azzurroChiaro {
  background-color: #8FBACA !important;
}

.azzurroCielo {
  background-color: #9dd2fd !important;
}

.azzurroTiepoloScuro {
  background-color: #67989F !important;
}

.azzurroTiepoloUltraScuro {
  background-color: #38667e !important;
}

.biancoVero {
  background-color: white !important;
}

.rossastro {
  background-color: #b78469 !important;
}

.terraGradient {
  background: #D9BF9F;
  background: linear-gradient(46deg, #d9bf9f 25%, #e8bf8e 100%);
}

.rossastroGradient {
  background: #B78469;
  background: linear-gradient(46deg, #b78469 50%, #dbb586 100%);
}

.rossastroGradient label {
  background: none !important;
  color: white !important;
}

.rossastro input[type="text"] {
  color: white !important;
  font-weight: 500;
}

.rossastro input[type="text"]:hover {
  border-left: 1px solid #F0EDEE;
  border-top: 1px solid #F0EDEE;
}

.rossastro::placeholder {
  color: white;
  font-weight: 500;
}

.rossastro h3 {
  color: white;
}

.strisciaAggiunta:hover, .strisciaAggiunta:focus {
  transform: translate(2px, 2px);
  box-shadow: 0px 10px 20px -15px rgba(141, 141, 141, 0), 5px 5px 0px -3px rgba(0, 0, 0, 0.5);
}

.rossastroGradient .strisciaAggiunta {
  background-color: #b78469;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 20px -15px rgba(141, 141, 141, 0), 5px 5px 0px 0.2px rgba(0, 0, 0, 0.5);
  color: #F0EDEE;
}

.rossastro .bottone-aggiunta {
  background-color: #b78469;
  border-style: none;
  color: white;
}

.rossastroGradient .strisciaAggiunta:hover, .rossastro .strisciaAggiunta:focus {
  transform: translate(2px, 2px);
  box-shadow: 0px 10px 20px -15px rgba(141, 141, 141, 0), 5px 5px 0px -3px rgba(0, 0, 0, 0.5);
}

.rossastroGradient .strisciaAggiunta:hover .bottone-aggiunta, .rossastro .strisciaAggiunta:focus .bottone-aggiunta {
  background-color: #b78469;
}

.bianco {
  background-color: #F0EDEE !important;
}

.terraGradient .form-inputDue:hover, .form-inputDue:focus {
  background-color: #F0EDEE;
}

.nero {
  color: #555050;
}

.tabella {
  visibility: visible;
  display: block !important;
  min-width: fit-content;
  min-height: fit-content;
  z-index: 3 !important;
  box-sizing: border-box;
  margin-top: -20%;
  outline: 2px solid #DACEC4;
  border: 10px solid white;
  top: 0;
  padding: 0%;
  background-color: #f6efea;
  perspective: none !important;
  transform-style: flat !important;
  will-change: auto !important;
}

.sfondoTabella {
  background-color: white;
  padding: 5%;
  border-radius: 25px;
}

table {
  table-layout: auto;
  z-index: 4;
  font-size: 16px;
  padding: 5% !important;
  transform: none !important;
  font-weight: 100;
  font-family: "Ruwudu", serif;
}

.dettagliTabelle {
  transform: none !important;
  perspective: none !important;
  transform-style: flat !important;
  will-change: auto !important;
}

tr, td {
  width: 100%;
  padding: 5%;
  background-color: white !important;
}

th {
  font-weight: 500;
  background-color: #AF1B3F !important;
  color: white !important;
  transform: none !important;
}

.tr:hover .td {
  background-color: aliceblue !important;
  color: #38667e;
  font-weight: 600;
}

.tdDevice {
  width: 10%;
}

#bin {
  padding-left: 5%;
}

#bin:hover {
  padding-left: 5%;
  background-color: white;
}

.btn-secondary:hover {
  background-color: gainsboro;
  box-shadow: 0px 10px 20px -15px #595858, 5px 5px 15px 5px transparent;
  transform: translateY(-5px) scale(1.1);
  transition: transform 1s ease-in-out;
}

.btn-success {
  background: none !important;
  color: #555050 !important;
  border: 1px solid #DACEC4 !important;
}

.btn-success:hover {
  background-color: #fefffc !important;
}

.binUno {
  display: block;
}

.td:hover .binUno {
  display: none;
}

.btn-secondary:hover .binUno {
  display: none;
}

.binDue {
  display: none;
}

.btn-secondary:hover .binDue {
  display: block;
}

.td:hover .binDue {
  display: block;
}

.td:hover {
  background-color: #688dae;
}
