.dorato {
  background-color: #DACEC4 !important;
}

.terra {
  background-color: #D9BF9F !important;
}

.grigioSfondo {
  background-color: #FCFBFB;
}

.biancoChiaro {
  background-color: #f9f5f1;
}

.rossoFoglia {
  background-color: #cba177ff;
}

.rossoGeraneo {
  background-color: #E76144;
}

.verdeChiaro {
  background-color: #D2DEB1;
}

.azzurroChiaro {
  background-color: #8FBACA !important;
}

.azzurroCielo {
  background-color: #9dd2fd !important;
}

.azzurroTiepoloScuro {
  background-color: #67989F !important;
}

.biancoVero {
  background-color: white !important;
}

.rossastro {
  background-color: #b78469 !important;
}

.terraGradient {
  background: #D9BF9F;
  background: linear-gradient(46deg, #d9bf9f 25%, #e8bf8e 100%);
}

.rossastroGradient {
  background: #B78469;
  background: linear-gradient(46deg, #b78469 50%, #dbb586 100%);
}

.rossastroGradient label {
  background: none !important;
  color: white !important;
}

.rossastro input[type="text"] {
  color: white !important;
  font-weight: 500;
}

.rossastro input[type="text"]:hover {
  border-left: 1px solid #F0EDEE;
  border-top: 1px solid #F0EDEE;
}

.rossastro::placeholder {
  color: white;
  font-weight: 500;
}

.rossastro h3 {
  color: white;
}

.strisciaAggiunta:hover, .strisciaAggiunta:focus {
  transform: translate(2px, 2px);
  box-shadow: 0px 10px 20px -15px rgba(141, 141, 141, 0), 5px 5px 0px -3px rgba(0, 0, 0, 0.5);
}

.rossastroGradient .strisciaAggiunta {
  background-color: #b78469;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 20px -15px rgba(141, 141, 141, 0), 5px 5px 0px 0.2px rgba(0, 0, 0, 0.5);
  color: #F0EDEE;
}

.rossastro .bottone-aggiunta {
  background-color: #b78469;
  border-style: none;
  color: white;
}

.rossastroGradient .strisciaAggiunta:hover, .rossastro .strisciaAggiunta:focus {
  transform: translate(2px, 2px);
  box-shadow: 0px 10px 20px -15px rgba(141, 141, 141, 0), 5px 5px 0px -3px rgba(0, 0, 0, 0.5);
}

.rossastroGradient .strisciaAggiunta:hover .bottone-aggiunta, .rossastro .strisciaAggiunta:focus .bottone-aggiunta {
  background-color: #b78469;
}

.bianco {
  background-color: #F0EDEE !important;
}

.terraGradient .form-inputDue:hover, .form-inputDue:focus {
  background-color: #F0EDEE;
}

.nero {
  color: #555050;
}

h1 {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-size: 48px;
  color: white;
}

h2 {
  text-align: center;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  color: #8C4843;
  font-size: 40px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10%;
}

label {
  text-align: left !important;
  font-size: 14px;
  color: #535252;
  background-color: white;
  padding-top: 3%;
  padding-left: 5%;
  margin-bottom: 3%;
}

#rilevanzaBassa {
  font-size: 14px;
  line-height: 1;
  margin-left: 1%;
  vertical-align: center;
}

.sottotitolo {
  font-size: 48px;
  color: white;
  position: relative;
  animation: compareDalBasso 2s ease;
}

.titolo {
  text-align: center;
  font-size: 60px;
  color: white;
  position: relative;
  padding-top: 12% !important;
  font-family: "EB Garamond", serif !important;
  font-weight: 600;
  animation: compareDalBasso 1s ease;
}

.sottotitolo2 {
  font-size: 14px;
  color: #f8f5f6;
  z-index: 4 !important;
  text-align: center;
  width: 100%;
  text-decoration: underline;
  font-size: 19px;
}

.sottotitolo4 {
  font-size: 14px;
  color: #f8f5f6;
  z-index: 4 !important;
  text-align: center;
  width: 100%;
  text-decoration: none;
  font-size: 16px;
}

.cit {
  display: none;
  font-size: 16px !important;
  font-family: "Croissant One", serif;
  font-weight: 400;
  line-height: 1.15;
  font-style: normal;
}

.infoPrincipali {
  display: flex;
  justify-content: center;
  padding-top: 4%;
  font-weight: 500;
  font-size: 17px;
  color: #7b7b7b;
  text-align: center;
}

.infoSecondarie {
  font-weight: 400;
  font-size: 16px;
  color: #555050;
  text-align: center;
}

.sottotitolo2:hover {
  text-decoration: none;
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
  border: 1px solid #F0EDEE;
  font-size: 19px;
  box-sizing: border-box;
}

.sottotitolo2:focus, .sottotitolo2:active {
  background-color: #3e5379;
}

.paragrafoInfo {
  font-weight: 400;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 16px !important;
  color: #555050;
}

a.linkPosizione {
  text-decoration: underline;
  color: #67989F;
}

a.linkPosizione:hover {
  color: #7b7b7b;
  text-decoration: underline;
  border-style: none;
}

a.linkSede {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 1% !important;
  background-color: #8FBACA;
}
